storage/
bin/
test_out/
tmp/
doc/
.directory
.loadpath
.metadata
*.pydevproject
*.bak
*.swp
*.tmp
*~.nib
local.properties

# Demo Apps #
#############
demo-apps/run/cf-benchmark-3.2.0.jar
demo-apps/run/cf-helloworld-server-3.2.0.jar
demo-apps/run/cf-unix-setup-3.2.0.jar
demo-apps/run/cf-benchmark-observe-3.2.0.jar
demo-apps/run/cf-plugtest-server-3.2.0.jar
demo-apps/run/sc-dtls-example-client-3.2.0.jar
demo-apps/run/cf-cocoa-3.2.0.jar
demo-apps/run/sc-dtls-example-server-3.2.0.jar
demo-apps/run/cf-extplugtest-server-3.2.0.jar
demo-apps/run/cf-secure-3.2.0.jar
demo-apps/run/cf-helloworld-client-3.2.0.jar
demo-apps/run/cf-simplefile-server-3.2.0.jar
# But we do want to push the proxy's JAR
# demo-apps/run/cf-proxy2-3.2.0.jar

# Deter #
#########
deter/expdata/*

# Run #
#######
run/*

# Android #
###########
.gradle
build/
!gradlew.bat

# Maven #
#########
log/
target/

# Eclipse #
###########
.project
.classpath
.settings/
.externalToolBuilders/
*.launch
.recommenders/

# Intellij #
############
.idea/
*.iml
*.ipr
*.iws

# Compiled source #
###################
*.class
*.com
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# the gradle-wrapper.jar should be included in the Android demo so
!gradle-wrapper.jar

# Logs and databases #
######################
Californium*.properties
UUID.properties
Proxy.properties
Proxy2.properties
*.log
*.sql
*.sqlite

# OS generated files #
######################
._*
.AppleDouble
.DS_Store
.DS_Store?
.LSOverride
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Desktop.ini
